<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dau.mine.DAO.DeptDAO">
    <select id="users" parameterType="com.dau.mine.DTO.DeptDTO" resultType="com.dau.mine.DTO.DeptDTO">
        SELECT *
        FROM DAU_DEPT_MST
        WHERE dept_nm = #{dto.dept_nm}
        AND TYPE = #{dto.type}
    </select>

    <insert id="DeptInsert" parameterType="com.dau.mine.DTO.DeptDTO">
        INSERT INTO DAU_DEPT_MST
        (
            DEPT_CD,
            DEPT_NM,
            UPDEPT_CD,
            TYPE
        )
        SELECT MAX(DEPT_CD)+1,
               #{dto.dept_nm},
               #{dto.updept_cd},
               #{dto.type}
        FROM DAU_DEPT_MST
    </insert>

    <update id="DeptUpdate" parameterType="com.dau.mine.DTO.DeptDTO">
        UPDATE FROM DAU_DEPT_MST
        SET
            DEPT_NM = #{dto.dept_nm},
            UPDEPT_CD = #{dto.updept_cd},
            TYPE = #{dto.type}
        WHERE DEPT_CD = #{dept_cd}
    </update>

    <delete id="DeptDelete" parameterType="String">
        DELETE FROM dau_dept_mst
        WHERE DEPT_CD = #{dept_cd}
    </delete>
</mapper>